<div class="container-fluid d-flex border-bottom">
    <div [@routeTransition]="path" class="d-flex">
        <div [@slideOut]="path" class="d-flex flex-column">
            <div class="d-flex overflow-hidden text-nowrap">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="nav-item breadcrumb m-0">
                        @for (segment of path; track $index){
                        <li class="breadcrumb-item p-0">
                            @if (!$last) {
                            <a class="text-dark" [routerLink]="segment" role="link">{{segment}}</a>
                            <fa-icon class="ps-2" [icon]="breadCrumbSeparator"></fa-icon>
                            }
                        </li>
                        }
                    </ol>
                </nav>
            </div>
            <div id=old-title class="d-flex">
                <h1 class="overflow-hidden text-nowrap">{{oldTitle}}</h1>
            </div>
        </div>
        <div [@slideIn]="path" class="d-flex flex-column">
            <div class="d-flex overflow-hidden text-nowrap">
                <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                    <ol class="nav-item breadcrumb m-0">
                        @for (segment of path; track $index){
                        <li class="breadcrumb-item p-0">
                            @if (!$last) {
                            <a class="text-dark" [routerLink]="segment" role="link">{{segment}}</a>
                            <fa-icon class="ps-2" [icon]="breadCrumbSeparator"></fa-icon>
                            }
                        </li>
                        }
                    </ol>
                </nav>
            </div>
            <div class="d-flex">
                <h1 class="overflow-hidden text-nowrap">{{title}}</h1>
            </div>
        </div>
    </div>
</div>
<ng-content></ng-content>