<!-- START Sidebar (left)-->
<nav class="border-end" [@collapse]="collapse ? 'open' : 'closed'" style="height:100vh">
    <!-- START sidebar nav-->
    <ul class="list-group">
        <div class="mx-auto">
            <fa-icon class="p-2" [icon]="icons.faBars" size="lg" role="button" (click)="collapse=!collapse">
            </fa-icon>
        </div>
        <a *ngFor='let item of menuItems' class="list-group-item list-group-item-action d-flex border-0 border-bottom"
            [routerLink]="item.link">
            <fa-icon *ngIf="item.icon" class="mx-1" [icon]="item.icon"></fa-icon>
            <span *ngIf="collapse">{{item.title}}</span>
        </a>
    </ul>
    <!-- END sidebar nav-->
</nav>
<!-- END Sidebar (left)-->