<!-- START Sidebar (left)-->
<nav class="border-end" style="height:100vh">
    <div class="d-flex flex-row-reverse">
        <button [@shift]="collapse ? 'open' : 'closed'" class="btn btn-light bg-transparent border-0" type="button" (click)="collapse=!collapse">
            <fa-icon class="p-2" [icon]="icons.faBars" size="lg">
            </fa-icon>
        </button>
    </div>
    <!-- START sidebar nav-->
    <ul [@collapse]="collapse ? 'open' : 'closed'" class="list-group">
        <a *ngFor='let item of menuItems'
            class="list-group-item list-group-item-action d-flex align-items-center justify-content-center border-0 border-bottom"
            [routerLink]="item.link">
            <fa-icon *ngIf="item.icon" class="mx-2" [icon]="item.icon"></fa-icon>
            <h5 class="text-truncate m-0">{{item.title}}</h5>
        </a>
    </ul>
    <!-- END sidebar nav-->
</nav>
<!-- END Sidebar (left)-->