<!-- START Sidebar (left)-->
<nav class="border-end g-0" [style]="config?.style" [@barCollapse]="xCollapse ? 'closed' : 'open'">
    <div class="d-flex flex-row-reverse py-2">
        <button class="btn btn-light bg-transparent border-0" type="button" (click)="xCollapse=!xCollapse">
            <fa-icon class="px-2 mx-1" [icon]="icons.faBars" size="lg">
            </fa-icon>
        </button>
    </div>
    <lgf-furnishing-list [listItems]="menuItems">
        <ng-template #listHeadingTmp let-item="listItem">
            <ng-container [ngTemplateOutlet]="menuHeadingTmp" [ngTemplateOutletContext]="{menuItem: item}">
            </ng-container>
        </ng-template>
        <ng-template #listItemTmp let-item="listItem">
            <ng-container [ngTemplateOutlet]="menuItemTmp" [ngTemplateOutletContext]="{menuItem: item}">
            </ng-container>
        </ng-template>
    </lgf-furnishing-list>
</nav>
<!-- END Sidebar (left)-->

<ng-template #menuHeadingTmp let-item="menuItem">
    <div [ngClass]="{'border-bottom' : item.isCollapsed}" class="d-flex align-items-center border-0 px-3 py-2"
        (click)="item.isCollapsed=!item.isCollapsed;">
        @if(item.icon){
        <fa-icon size="lg" [icon]="item.icon || icons.faCaretRight"></fa-icon>
        }
        <p class="m-0 mx-2 text-truncate fs-6 fw-bold">{{item.title}}</p>
    </div>
    <lgf-furnishing-list [@sectionCollapse]="item.isCollapsed ? 'closed' : 'open'" [ngClass]="{'ps-2' : !xCollapse}"
        [listItems]="item.submenu">
        <ng-template #listHeadingTmp let-item="listItem">
            <ng-container [ngTemplateOutlet]="menuHeadingTmp" [ngTemplateOutletContext]="{menuItem: item}">
            </ng-container>
        </ng-template>
        <ng-template #listItemTmp let-item="listItem">
            <ng-container [ngTemplateOutlet]="menuItemTmp" [ngTemplateOutletContext]="{menuItem: item}">
            </ng-container>
        </ng-template>
    </lgf-furnishing-list>
</ng-template>

<ng-template #menuItemTmp let-item="menuItem">
    <a class="d-flex align-items-center border-0 px-4 pb-2" [routerLink]="item.link">
        @if(item.icon){
        <fa-icon [icon]="item.icon || icons.faCaretRight"></fa-icon>
        }
        <p class="m-0 mx-2 fw-bold text-truncate m-0">{{item.title}}</p>
    </a>
</ng-template>