<header class="container-fluid bg-dark">
  <div class="row align-items-center">
    <div class="col-6">
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center" routerLink="" style="cursor: pointer;">
          <img src="../../../assets/img/logo-light.png" alt="Lyagofobia's" class="img-fluid my-2"
            style="height: 43px; width: 43px;">
          <h1 class="text-white mb-0 mx-3">The Awhouse</h1>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex flex-row-reverse">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</header>