<nav class="border-start" style="height:100vh; width:280px;">
    <!-- START sidebar nav-->
    <ul class="list-group">
        <div class="d-flex" [ngClass]="{'justify-content-center': !collapse}">
            <fa-icon class="p-2" [icon]="icons.faCog" size="lg" role="button"
                (click)="collapse=!collapse; onCollapse.emit()">
            </fa-icon>
        </div>
        <a *ngFor='let item of menuItems' class="list-group-item list-group-item-action d-flex border-0 border-bottom"
            href="{{item.link}}">
            <fa-icon *ngIf="item.icon" class="mx-1" [ngClass]="{'justify-content-center': !collapse}"
                [icon]="item.icon"></fa-icon>
            <span *ngIf="collapse">{{item.title}}</span>
        </a>
    </ul>
    <!-- END sidebar nav-->
</nav>